<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}"">
   
</head>
<body>
    <nav>
        <a href="/">Home</a> |
        <a href="/testing">Testing</a> |
        <a href="/report">Report</a> |
        <a href="/training">Training</a>
    </nav>
    <hr>
    <h1>Welcome to the Water Potability App</h1>
    <p>This app helps determine the potability of water using machine learning models.</p>
</body>
</html>
